a:hover{
    color: #10c9c3;
}
a{
    text-decoration:none; 
}
body{
    background-color:rgba(0,0,0,0.09);
    font-family: "Montserrat", sans-serif,Arial, Helvetica;
    margin:0;
}
.botao{
    margin-top: 30px;
    width: 180px;
    height: 54px;
    background-color: #10c9c3;
    color: white;
    font-size: 12px;
}
.contactgrid{
    display: grid;
}
.contactgrid_content{
    display:flex;
}
.contentimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentimages_links{
    position: relative;
    width: 25%;
    height: 25%;
    vertical-align: top;
}
.contentimages_links:hover::after{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background:url("../images/olho.png") rgba(16,201,195,0.5);
    background-repeat: no-repeat;
    background-position: center;
}
.contentimages_links_images{
    width: 100%;
    height: 100%;
    display: block;
}
.contenttextohome{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
}
.contentvideo{
    position: relative;
    overflow: hidden;
    height: 600px;
}
.contentvideo_video{
    background-size: cover;
    top: 0; 
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    position: absolute;
}
footer{
    display: flex;
    background-color: #141414;
    height: 230px;
    color: white;
    justify-content: space-between;
}
.footer_firstcontent{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: top;
    margin-top: 50px;
    margin-left: 40px;
}
footer h2{
    font-size: 18px;
    margin: 0;
}
.footer_list{
    list-style-type:none;
}
.footer_list a{
    color: white;
}
.footer_secondcontent{
    display: flex;
    flex-direction: column;
    text-align: top;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 50px;
}
.footer_secondcontent p{
    margin: 0;
}
.footer_thirdcontent{
    display: flex;
    margin-top: 50px;
    margin-right: 40px;
}
.footer_thirdcontent ul{
    margin: 0;
}
.formulario_content{
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    width: 100%;
}
.formulario_content_inputdividido{
    height: 50px;
}
.formulario_content_inputindividual{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.gridabout{
    background-color:#10c9c3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
}
.gridabout_content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5px;
    align-content:center;
    justify-content: center;
}
.gridabout_content--icones{
    padding-top: 13%;
}
.gridabout_content--texto{
    display:flex;     
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10% 5%;
}
.gridimagem{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
}
.gridimagem_tamanho{
    width: 100%;
    height: 100%;
}
.gridimagem_texto{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    padding-right: 80px;
    padding-left: 80px;
    background-color:rgba(0,0,0,0.1);
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
    margin:5px;
}
h3{
    font-size: 13px;
    margin:5px;
}
header{
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.linksheader{
    float:right;
    padding-top: 10px;
}
.logo{
    padding: 10px 10px;
}
#map{
    display:flex;
}
p{
    font-size: 16px;
}

.textArea{
    width: 100%;
    height: 170px;
    margin-top: 20px;
}
.titulovideo{
    color:white;
    top:50%;
    position: relative;
    transform: translate(-50%);
    text-align: center; 
    left:50%
}
.titulovideo_paragrafo{
    max-width: 512px;
    margin: 0 auto;
}
.titulovideo_margin{
    margin:0;
}
@media (max-width: 699px){
.contactgrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}  
.contactgrid_content{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
}  
.contentimages_links{
    width: 50%;
    height: 50%;
}
footer{
    flex-wrap: wrap;
}
.footer_firstcontent{
    max-width: 150px;
    margin-top: 30px;
    margin-left: 20px;
}
footer h2{
    font-size: 12px;
}
footer li{
    font-size: 10px;
}
footer p{
    font-size: 10px;
}
.footer_secondcontent{
    max-width: 150px;
    margin-top: 30px;
    margin-right: 20px;
}
.footer_thirdcontent{
    margin-top:10px;
    margin-left: -20px;
}
.formulario{
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.formulario_content_inputdividido{
    width: 45%;
    margin-top: 10px
}
#map{
    height: 250px;
    margin: 10px;
}
}
@media (min-width: 700px){
.contactgrid{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
}   
.contactgrid_content{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 70px;
} 
.formulario{
    padding: 30px;
    margin-right: 40px;
}
.formulario_content_inputdividido{
    width: 48%;
    margin-top: 70px
}
#map{
    height: 500px;
    margin: 70px;
}
}
@media(min-width: 1400px){
.contentimages_links{
    width: 20%;
    height: 20%;
}
}
@media (min-width: 2560px){
.contactgrid{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
}   
.contactgrid_content{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 70px;
}  
.formulario{
    padding: 30px;
    margin-right: 40px;
}
.formulario_content_inputdividido{
    width: 48%;
    margin-top: 70px
}
#map{
    height: 700px;
    margin: 70px;
}
}